body {
    position: relative;
}

h1 {
    margin-left: 700px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#color, #sizeCards, #font, #time, #word {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#font1 {  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#font2 {  
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#font3 {  
    font-family:'Times New Roman', Times, serif;
}

#start {
    font-size: 25px;
    margin-left: 200px;
}

#form {
    margin-left: 500px;
    margin-right: 500px;
}